* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #FFFAF5;
}


/* Common */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid rgb(0, 9, 88, 0.7);
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
}


/* Header */

.header {
    padding: 26px 0
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --heught: 50px;
    min-width: 118px;
}


/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -40px;
    top: 16px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #FAA7AD;
    border: 2px solid #fcdcdf;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero__list-item {
    display: flex;
}

.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero__list-item__info {
    margin-left: 10px;
}

.hero__list-item__title {
    color: #181E52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-item__skeleton:last-child {
    width: 39px;
}

.hero__list-item__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 20px 0;
}

.hero__list-item:last-of-type .hero__list-item__thumb {
    background: #C6E2FA;
}

.hero__heading {
    width: 517px;
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.hero__row {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    ;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}


/* About */

.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__label {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: start;
    gap: 35px;
    margin-top: 54px;
}

.about__checklist-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__checklist-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.about__checklist-item::after {
    position: absolute;
    content: url(../icon/checklist.svg);
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__card-decor {
    position: absolute;
    top: -40px;
    left: 85px;
}

.about__img-wrapper {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrapper::after {
    position: absolute;
    z-index: -1;
    content: "";
    height: 336px;
    width: 494px;
    left: 0;
    bottom: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrapper-bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin-left: 0;
}

.about__img-wrapper-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -24px;
}

.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}