* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}


/* Common */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid rgb(0, 9, 88, 0.7);
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.8;
}


/* Header */

.header {
    padding: 26px 0
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --heught: 50px;
    min-width: 118px;
}