* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #FFFAF5;
}


/* Common */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid rgb(0, 9, 88, 0.7);
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.8;
}


/* Header */

.header {
    padding: 26px 0
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --heught: 50px;
    min-width: 118px;
}


/* Hero */

.hero {
    margin-top: 74px;
    ;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    right: -40px;
    top: 16px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #FAA7AD;
    border: 2px solid #fcdcdf;
}

.hero__img-wrap-small {}